<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ghada">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!--Core CSS -->
        <link href="{{ asset('bundles/scolariteadmin/bs3/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/scolariteadmin/css/bootstrap-reset.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/scolariteadmin/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/scolariteadmin/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/scolariteadmin/css/style-responsive.css') }}" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/scolariteadmin/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/scolariteadmin/js/jquery.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<section id="container" >
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">


            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->
        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->

                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>

{% block javascripts %}
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="{{ asset('bundles/scolariteadmin/js/jquery.livequery.min.js')}}"></script>
    <script src="{{ asset('bundles/scolariteadmin/bs3/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/easypiechart/jquery.easypiechart.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/sparkline/jquery.sparkline.js') }}"></script>
    <script src="{{ asset('bundles/scolariteadmin/js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
