{% extends 'ScolariteFrontBundle::layoutenseignant.html.twig' %}
{% block title %}Formations{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('bundles/scolariteadmin/js/advanced-datatable/css/demo_page.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/scolariteadmin/js/advanced-datatable/css/demo_table.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/scolariteadmin/js/data-tables/DT_bootstrap.css')}}" />
{% endblock stylesheets %}
{% block body -%}
    <div class="col-sm-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="{{ path('scolarite_admin_homepage') }}"><i class="fa fa-home"></i> Dashbord</a></li>
            <li class="active">Formations</li>
        </ul>
        <!--breadcrumbs end -->
        <section class="panel">
            <header class="panel-heading">
                Formations
            </header>
            <div class="panel-body">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            Success!
                        </h4>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
                <div class="adv-table">
                    <div class="clearfix">
                        <div class="btn-group pull-right">
                            <a href="{{ path('formation_enseignant_new') }}" class="btn btn-primary">
                                Nouveau <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="space15"></div>
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Formateur</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Salle</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr class="gradeX">
                                <td><a href="{{ path('formation_edit', { 'id': entity.id }) }}">{{ entity.titre }}</a></td>
                                <td>{{ entity.description }}</td>
                                <td>{{ entity.formateur }}</td>
                                <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ entity.salle.nom }}</td>
                                {# {% if entity.enabled is empty %}
                                     <td><span class="label label-danger label-mini">Disabled</span></td>
                                 {% else %}
                                     <td><span class="label label-success label-mini">Enabled</span>  </td>
                                 {% endif %}#}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/scolariteadmin/js/advanced-datatable/js/jquery.dataTables.js')}}"></script>
    <script src="{{asset('bundles/scolariteadmin/js/data-tables/DT_bootstrap.js')}}"></script>
    <script src="{{asset('bundles/scolariteadmin/js/dynamic_table_init.js')}}"></script>
    <script type="text/javascript">
        window.setTimeout(function () {
            $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
{% endblock javascripts %}