{% extends '::base.html.twig' %}
{% block title %}Ajouter Adresse{% endblock %}
{% block body -%}
    {#    {% form_theme edit_form 'MyBookAdminBundle:Form:errors.html.twig' %}#}
    <div class="col-lg-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="{{ path('scolarite_admin_homepage') }}"><i class="fa fa-home"></i> Dashbord</a></li>            
            <li><a href="{{ path('adresse') }}">Clubs</a></li>
            <li class="active">Ajouter Club</li>
        </ul>
        <!--breadcrumbs end -->
        <section class="panel">
            <header class="panel-heading">
                Ajouter Adresse
            </header>
            <div class="panel-body">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            Success!
                        </h4>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        <a href="{{ path('adresse') }}" class="btn btn-primary">
                            Annuler <i class="fa fa-undo"></i>
                        </a>
                    </div>                        
                </div>
                <div class="space15"></div>
                 <div class="position-center">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal', 'id': 'frm-departement'} }) }}
                    <div class="form-group">
                        {{ form_label(form.ville, 'Ville', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(form.ville, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(form.ville) }}
                            <p class="help-block">Entrer le nom du ville.</p>
                        </div>
                    </div>  
                           <div class="form-group">
                        {{ form_label(form.cp, 'Code Postal', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(form.cp, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(form.cp) }}
                            <p class="help-block">Entrer le nom du code postal.</p>
                        </div>
                    </div> 
                            <div class="form-group">
                        {{ form_label(form.rue, ' Rue', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(form.rue, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(form.rue) }}
                            <p class="help-block">Entrer le nom du rue.</p>
                        </div>
                    </div> 
                    </div>    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-danger">Envoyer</button>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    {#    <script src="{{asset('bundles/mybookadmin/js/jquery.validate.min.js')}}"></script>#}
    {#<script type="text/javascript">
        var Script = function () {
            $().ready(function () {
                // validate signup form on keyup and submit
                $("#frm-about").validate({
                    rules: {
                        'mybook_adminbundle_category[name]': {
                            required: true,
                            minlength: 3
                        },
                        'mybook_adminbundle_category[enabled]': {
                            required: false
                        }
                    },
                    messages: {
                        'mybook_adminbundle_category[name]': {
                            required: "Please enter a category name",
                            minlength: "Your category name must consist of at least 3 characters"
                        }
                    }
                });
            });
        }();
        window.setTimeout(function () {
            $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>#}
{% endblock javascripts %}



