{% extends '::base.html.twig' %}
{% block title %}Modifier Absence{% endblock %}
{% block body -%}
    {#    {% form_theme edit_form 'MyBookAdminBundle:Form:errors.html.twig' %}#}
    <div class="col-lg-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="{{ path('scolarite_admin_homepage') }}"><i class="fa fa-home"></i> Dashbord</a></li>            
            <li><a href="{{ path('absence') }}">Absences</a></li>
            <li class="active">Modifier Absence</li>
        </ul>
        <!--breadcrumbs end -->
        <section class="panel">
            <header class="panel-heading">
                Modifier Absence
            </header>
            <div class="panel-body">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            Success!
                        </h4>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        <a href="{{ path('absence') }}" class="btn btn-primary">
                            Annuler <i class="fa fa-undo"></i>
                        </a>
                    </div>                        
                </div>
                <div class="space15"></div>
                <div class="position-center">
                    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal', 'id': 'frm-classe'} }) }}
                    <div class="form-group">
                        {{ form_label(edit_form.departement, 'Nom Departement', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.departement, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(edit_form.departement) }}
                            <p class="help-block">Sélectionner le nom de la Departement.</p>
                        </div>
                    </div>   
                        <div class="form-group">
                        {{ form_label(edit_form.classe, 'Nom Classe', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.classe, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(edit_form.classe) }}
                            <p class="help-block">Sélectionner le nom de la classe.</p>
                        </div>
                    </div>
                         <div class="form-group">
                        {{ form_label(edit_form.niveau, 'Nom Niveau', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.niveau, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(edit_form.niveau) }}
                            <p class="help-block">Sélectionner le nom de la Niveau.</p>
                        </div>
                    </div>   
                    
                    <div class="form-group">
                        {{ form_label(edit_form.enseignant, 'Enseignant', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.enseignant, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(edit_form.enseignant) }}
                            <p class="help-block">Sélectionner l'Enseignant.</p>
                        </div>
                    </div>    
                      <div class="form-group">
                        {{ form_label(edit_form.specialite, 'Nom Specilaite', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.specialite, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(edit_form.specialite) }}
                            <p class="help-block">Sélectionner  le nom de Specilaite.</p>
                        </div>
                    </div> 
                           <div class="form-group">
                        {{ form_label(edit_form.matiere, 'Nom Matiere', { 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'} }) }}
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.matiere, {'attr': {'class' : 'form-control'} }) }}
                            {{ form_errors(edit_form.matiere) }}
                            <p class="help-block">Sélectionner  le nom de matiere.</p>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-danger">Envoyer</button>
                        </div>
                    </div>
                    {{ form_rest(edit_form) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    {#    <script src="{{asset('bundles/mybookadmin/js/jquery.validate.min.js')}}"></script>#}
    {#<script type="text/javascript">
        var Script = function () {
            $().ready(function () {
                // validate signup form on keyup and submit
                $("#frm-about").validate({
                    rules: {
                        'mybook_adminbundle_category[name]': {
                            required: true,
                            minlength: 3
                        },
                        'mybook_adminbundle_category[enabled]': {
                            required: false
                        }
                    },
                    messages: {
                        'mybook_adminbundle_category[name]': {
                            required: "Please enter a category name",
                            minlength: "Your category name must consist of at least 3 characters"
                        }
                    }
                });
            });
        }();
        window.setTimeout(function () {
            $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>#}
{% endblock javascripts %}



